<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MedicalManager.DAL.Properties.SettingsDB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MedicalManager.DAL.Properties.SettingsDB>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=ХИМИК-ПК\SQLEXPRESS; Initial Catalog=MedicalDB; Integrated Security=True</value>
            </setting>
            <setting name="EmailHost" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailEnableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>25</value>
            </setting>
        </MedicalManager.DAL.Properties.SettingsDB>
    </userSettings>
</configuration>